.App{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.todoMain{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
     width: 90%;
     height: fit-content;
     border: 1px solid gray;
     padding: 1%;
}
.addTodo{
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
}
.addTodo input{
    height: 30px;
    padding: 1%;
    border-color: maroon;
}
.addTodo button{
    width: 100px;
    height: 30px;
    padding: 1%;
    color: maroon;
}


.todoMapping{
    width: 90%;
    padding: 1%;
}

.tododatamap{
    width: 100%;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-around;
    align-items: center;
    border: 2px solid maroon;
    padding: 1%;
}

.todoitem{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;

}
.todoitem img{
    width: 50px;
    height: 50px;
}
 
.todoitem button{
  height: 25px;
  width: fit-content;
  border-radius: 10px;
  border: none;
  padding: 1%;
}
