.App {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.addtodo {
  width: fit-content;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 2%;
}


.maptodo {
  width: fit-content;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 1%;
}